@import "bootstrap";
@import "posts";
@import "registrations";

.flash-alert,
.post-area {
  max-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
  border-left: 2px solid rgb(195, 195, 195);
  border-right: 2px solid rgb(195, 195, 195);
}

.flash-alert {
  background-color: #f8d7da;
  color: #842029;
  padding: 16px 10px;
  border-top: none;
  border-bottom: none;
  border-radius: 0;
  text-align: center;
}

