/* posts.scss */
.posts-index {
  margin: 0;
    .post-area{
        max-width: 600px;
        margin: 0 auto;
        border-left: 2px solid rgb(195, 195, 195);
        border-right: 2px solid rgb(195, 195, 195);
    }

    .post-area__title {
        padding: 10px 5px 0px;
    }

    .post-area__form-container {
        max-width: 600px;
        padding-bottom: 12px;
        border-bottom: 1px solid rgb(195, 195, 195);
    }

    .post-area__textarea {
        width: 100%;
        height: 100px;
        padding-right: 100px;
        box-sizing: border-box;
        border-radius: 6px;
        resize: none;
        outline: none;
        box-shadow: none;
        padding: 5px;
        border: none;
    }

    .post-area__submit-button {
        display: block;
        margin-left: auto;
        transform: translateX(-10px);
    }

    .post-area__list {
        list-style: none;
        padding-left: 0;
        margin-left: 0;
    }

    .post-area__item {
        padding: 8px;
        border-bottom: 1px solid rgb(195, 195, 195);
    }

    .post-area__header {
        display: flex;
        justify-content: space-between;
    }

    .post-area__username {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .post-area__content {
        margin: 0;
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .post-area__date {
        display: block;
        text-align: right;
    }

    .follow-button, .unfollow-button {
        width: 110px;
        display: inline-block;
        margin-left: auto;
        transform: translateX(-10px);
        margin-top: 10px;
    }

    .pagination-container {
        max-width: 600px;
        margin: 10px auto;
    }

    .pagination {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
    }

    .pagination ul {
        display: flex;
        justify-content: center;
        gap: 5px;
        padding-left: 0;
        margin: 0 auto;
        list-style: none;
        max-width: 600px;
    }

    .pagination a {
        color: rgb(88, 88, 88);
        text-decoration: none;
    }
}
