.usershow {
    .main-container {
        width: 300px;
        margin: 80px auto 0;
    }

    .page__title {
        margin-bottom: 20px;
    }

    .username-container, .blog-url-container, .user-introduction {
        margin-bottom: 30px;
    }

    .page__blog-url, .page__introduction-title {
        margin-bottom: 5px;
    }
}