.sessions {
  margin-top: 50px;
  margin-bottom: 250px;

  .main-container {
    max-width: 300px;
    margin: 0 auto;
  }

  .login-page__title {
    text-align: center;
    margin-bottom: 30px;
  }

  .login-page__field {
    margin-bottom: 20px;
  }

  .login-page__input {
    width: 300px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
  }

  .login-page__checkbox {
    margin-right: 5px;
  }

  .login-page__actions {
    text-align: center;
  }
}
